body{background-color: #942b2b; color: rgb(224, 224, 224);}

.cabecalho-imagem{width: 15%;background-color: #7a1313; color: rgb(94, 21, 21);}

.titulo{font-family: 'Kanit', sans-serif;}
<img src="logo.jpg" alt="some text" width=60 height=40>